* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Manrope';
}

.container {
    max-width: 1596px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Manrope';
    src: url(../media/fonts/Manrope-VariableFont_wght.ttf);
}

/* header start */
header {
    padding: 20px 0;
    border: #F1F1F3 1px solid;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.h-left {
    display: flex;
    gap: 10px;
}

.h-left a,
.sup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    background-color: #F7F7F8;
    border-radius: 100px;
    border: 1px solid transparent;
}

.h-left a:hover,
.sup-btn:hover {
    background-color: #fff;
    border: 1px solid #F1F1F3;
    color: #656567;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #FFD400;
    border: 1px solid transparent;
}

.cart-btn:hover {
    background-color: white;
    border: 1px solid #FFD400;
}

.burger {
    display: none;
}

/* header end */

/* banner start */
.banner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.b-left {
    max-width: 844px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.bl-title {
    display: flex;
    gap: 7px;
}

.blt-left {
    max-width: 652px;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}

.blt-right {
    padding: 14px;
    text-transform: uppercase;
    font-size: 18px;
    color: #98989A;
    font-weight: 500;
}

.bl-top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bl-desc {
    font-size: 18px;
    color: #656567;
}

.blt-btns {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.shop-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    border-radius: 32px;
    background-color: #FFD400;
    border: 1px solid transparent;
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
}

.contact-us-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    background-color: #F7F7F8;
    border-radius: 100px;
    border: 1px solid #F1F1F3;
}

.bl-bottom {
    display: flex;
    flex-wrap: wrap;
    background-color: #F7F7F8;
    padding: 20px;
    gap: 20px;
    border: 2px solid white;
    box-shadow: 0 0 0 8px #FAFAFA;
    border-radius: 12px;
}

.blb-card {
    display: flex;
    width: 390px;
    height: 143px;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
}

.blbc-title {
    color: #1A1A1A;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
}

.blbc-desc {
    color: #656567;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

/* banner end */

/* catalog start */

.catalog {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.catalog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-top .bl-desc {
    max-width: 1088px;
}

.ct-text {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.catalog-filter {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #F1F1F3;
    border-bottom: 1px solid #F1F1F3;
}

.cf-left {
    display: flex;
    gap: 40px;
}

.cf-left a {
    font-size: 20px;
    font-weight: 600;
    color: #98989A;
}

.cf-left a:hover {
    color: #1A1A1A;
}

.cf-right {
    display: flex;
    gap: 10px;
}

.cf-right a {
    display: flex;
    padding: 14px 24px;
    color: black;
    background-color: white;
    border: 1px solid #F1F1F3;
    border-radius: 32px;
}

.cf-right a:hover {
    color: white;
    background-color: #262626;
}

.catalog-cards {
    display: flex;
    justify-content: space-between;
}

.catalog-card {
    width: 376.5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cc-img {
    position: relative;
}

.cc-img a {
    width: 50px;
    height: 50px;
}

.cc-img a {
    display: flex;
    width: 62px;
    height: 62px;
    background-color: #FFD400;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.cc-img a img {
    width: 26px;
}

.cc-img a {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.cc-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cc-title {
    color: #262626;
    font-size: 20px;
    font-weight: 600;
}

.cc-price {
    color: #4C4C4D;
    font-size: 18px;
    font-weight: 500;
}

.catalog-slider {
    display: flex;
    gap: 20px;
}

.non-active,
.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 46px;
}

.non-active {
    border: 1px solid #B3B3B3;
}

.active {
    background-color: #262626;
}

/* catalog end */

/* about start */
.about {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about .bl-desc {
    width: 1247px;
}

.about-cards {
    background-color: #FCFCFD;
    border-radius: 20px;
    border: 1px solid #F7F7F8;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.about-card {
    width: 490px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    border: 1px solid #F1F1F3;
    padding: 40px;
}

.ac-top {
    display: flex;
    gap: 16px;
    align-items: center;
}

.act-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 72px;
    background-color: #FFD400;
}

.ac-top p {
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}

.ac-desc {
    color: #656567;
    font-size: 16px;
    font-weight: 500;
}

/* about end */

/* reviews start */
.reviews {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.reviews-cards {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.reviews .ct-text {
    max-width: 1057px;
}

.reviews-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-card {
    width: 490px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
    padding: 50px;
    background-color: white;
    border: 1px solid #F1F1F3;
}

.review-top {
    display: flex;
    justify-content: space-between;
}

.review-author {
    display: flex;
    gap: 15px;
}

.ra-name-stars {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.ra-name {
    font-size: 20px;
    font-weight: 400;
}

.ra-stars {
    display: flex;
    gap: 5px;
}

.review-text {
    color: #4C4C4D;
    font-size: 18px;
    font-weight: 500;
}

.review-container {
    max-width: 1670px;
    margin: 0 auto;
}

.reviews-cards {
    display: flex;
    align-items: center;
    gap: 9px;
    position: relative;
}

.catalog-top {
    display: flex;
    justify-content: space-between;
}

.reviews-cards .non-active,
.reviews-cards .active {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.reviews-cards .non-active {
    left: 0;
}

.reviews-cards .active {
    right: 0;
}

.reviews-cards-block {
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #F7F7F8;
    background-color: #FCFCFD;
}

/* reviews end */

/* faq start */
.faq {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.faq .blt-left {
    max-width: 764px;
}

/* faq end */

.details-columns {
    display: flex;
    gap: 30px;
}

.details-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

details {
    padding: 30px;
    display: flex;
    width: 512px;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #F1F1F3;
    border-radius: 16px;
    justify-content: center;
}

details summary {
    display: flex;
    justify-content: space-between;
}

details summary p {
    width: 100%;
    font-size: 18px;
    color: #262626;
    font-weight: 500;
}

details summary img:hover {
    cursor: pointer;
}

details p {
    color: #4C4C4D;
    font-size: 18px;
    font-weight: 400;
}

.how {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 200px;
}

.how-block {
    padding: 20px;
    background-color: #FCFCFD;
    border: 1px solid #F7F7F8;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.how-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #F1F1F3;
    width: 370px;
    border-radius: 16px;
}

.hc-number {
    font-size: 80px;
    color: #E4E4E7;
    font-weight: 700;
}

.hc-title {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
}

.hc-desc {
    font-size: 18px;
    color: #656567;
    font-weight: 500;
}

.hc-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* footer start */

footer {
    margin-top: 150px;
    border-top: 1px solid #F1F1F3;
    border-bottom: 1px solid #F1F1F3;
}

.footer-top {
    display: flex;
}

.ft-left .logo img {
    width: 100px;
}

.ft-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 0;
    padding-right: 80px;
    border-right: 1px solid #F1F1F3;
}

form {
    display: flex;
    gap: 10px;
}

form input {
    width: 323px;
    height: 59px;
    outline: none;
    padding: 16px 20px;
    border-radius: 32px;
    border: 1px solid #F1F1F3;
    font-size: 18px;
    color: #98989A;
    font-weight: 500;
}

form button {
    width: 149px;
    height: 59px;
    border-radius: 32px;
    background-color: #FFD400;
    color: #1A1A1A;
    outline: none;
    font-size: 18px;
    border: 0;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

.ft-right {
    padding: 80px 0;
    padding-left: 80px;
    display: flex;
    gap: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 200px;
}

.nav-a {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.nav-title {
    font-size: 20px;
    font-weight: 500;
}

.nav-a a {
    color: #656567;
    font-size: 18px;
    font-weight: 500;
}

.footer-bottom {
    border-top: 1px solid #F1F1F3;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.fbc-left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.fbcl-line {
    width: 1px;
    height: 23px;
    background-color: #F1F1F3;
}

.fbc-left a {
    color: #98989A;
    font-size: 18px;
    font-weight: 500;
}

.fbc-center {
    display: flex;
    gap: 21px;
    align-items: center;
}

.fbc-center a {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #262626;
}

.fbc-right {
    font-size: 18px;
    color: #656567;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* footer end */

.scroller {
    display: none;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1280px;
    }

    /* header start */
    .h-left {
        display: flex;
        gap: 10px;
    }

    .h-left a {
        padding: 12px 20px;
        font-size: 14px;
    }

    .header-content {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 40px;
    }

    .h-right {
        display: flex;
        gap: 10px;
    }

    .cart-btn {
        width: 44px;
        height: 44px;
    }

    .cart-btn img {
        width: 20px;
    }

    .sup-btn {
        padding: 12px;
        width: 143px;
        height: 45px;
        font-size: 14px;
    }

    /* header end */

    /* banner start */
    .b-left {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .banner {
        display: flex;
        gap: 60px;
        margin-top: 80px;
        align-items: center;
    }

    .bl-title {
        display: flex;
        gap: 4px;
    }

    .blt-left {
        max-width: 539px;
        font-size: 38px;
    }

    .blt-right {
        font-size: 14px;
        max-width: 132px;
        padding: 0;
    }

    .bl-desc {
        font-size: 16px;
    }

    .bl-top {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .blb-btns {
        margin-top: 20px;
        display: flex;
        gap: 8px;
    }

    .shop-now-btn {
        padding: 14px 27px;
        font-size: 14px;
        width: 150px;
        height: 49px;
    }

    .shop-now-btn img {
        width: 20px;
    }

    .contact-us-btn {
        padding: 14px 27px;
        font-size: 14px;
        width: 150px;
        height: 49px;
    }

    .br-img img {
        width: 544px;
        height: 619px;
    }

    .bl-bottom {
        padding: 16px;
        gap: 16px;
    }

    .blb-card {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 310px;
        height: 114px;
    }

    .blbc-title {
        font-size: 26px;
    }

    .blbc-desc {
        font-size: 16px;
    }

    /* banner end */

    /* catalog start */
    .catalog {
        gap: 60px;
    }

    .ct-text .bl-desc {
        max-width: 975px;
    }

    .view-all-product-btn {
        width: 155px;
        height: 49px;
        font-size: 14px;
        padding: 14px 20px;
    }

    .catalog-filter {
        padding: 35px 0;
    }

    .cf-left {
        display: flex;
        gap: 32px;
    }

    .cf-left a {
        font-size: 16px;
    }

    .cf-right {
        display: flex;
        gap: 8px;
    }

    .cf-right a {
        padding: 12px 20px;
        font-size: 14px;
    }

    .catalog-cards {
        gap: 30px;
    }

    .catalog-card {
        width: 297px;
        height: 388px;
        gap: 20px;
    }

    .cc-img img {
        width: 297px;
    }

    .cc-img a {
        width: 52px;
        height: 52px;
    }

    .cc-img a img {
        width: 20px;
    }

    .cc-title {
        font-size: 16px;
    }

    .cc-price {
        font-size: 16px;
    }

    .catalog-slider {
        gap: 16px;
    }

    .non-active,
    .active {
        width: 40px;
        height: 40px;
    }

    .non-active img,
    .active img {
        width: 24px;
    }

    /* catalog end */

    /* about start */
    .about {
        margin-top: 150px;
    }

    .about .bl-desc {
        max-width: 1029px;
    }

    .about-cards {
        padding: 20px;
        gap: 20px;
    }

    .about-card {
        padding: 30px;
        gap: 20px;
        width: 390px;
    }

    .act-img {
        width: 48px;
        height: 48px;
    }

    .act-img img {
        width: 20px;
    }

    .ac-top p {
        font-size: 18px;
    }

    .ac-desc {
        font-size: 14px;
    }

    /* about end */

    /* reviews start */

    .reviews {
        margin-top: 150px;
        gap: 60px;
    }

    .review-container {
        max-width: 1348px;
    }

    .reviews .bl-desc {
        max-width: 958px;
    }

    .reviews .view-all-product-btn {
        width: 179px;
    }

    .ra-img img {
        width: 50px;
    }

    .review-author {
        align-items: center;
    }

    .ra-name-stars {
        gap: 4px;
        justify-content: center;
    }

    .ra-name {
        font-size: 16px;
    }

    .ra-stars img {
        width: 16px;
    }

    .review-kavichka {
        width: 40px;
        height: 40px;
    }

    .review-text {
        font-size: 16px;
    }

    .reviews-cards-block {
        padding: 24px;
        gap: 20px;
        width: 100%;
    }

    .review-card {
        padding: 40px;
        gap: 30px;
    }

    .reviews-cards .non-active {
        left: 0px;
    }

    .reviews-cards .active {
        right: 0px;
    }

    /* reviews end */

    /* faq start */
    .faq {
        margin-top: 150px;
        gap: 60px;
    }

    .details-columns {
        gap: 20px;
    }

    .details-column {
        gap: 16px;
    }

    details {
        width: 412px;
        padding: 30px;
        gap: 20px;
    }

    summary {
        font-size: 16px;
    }

    details p {
        font-size: 14px;
    }

    /* faq end */

    /* how start */
    .how {
        gap: 50px;
    }

    .how .bl-desc {
        max-width: 1129px;
    }

    .how-block {
        padding: 16px;
        gap: 16px;
    }

    .how-card {
        padding: 24px;
        gap: 20px;
    }

    .hc-text {
        gap: 6px;
    }

    .hc-number {
        font-size: 60px;
    }

    .hc-title {
        font-size: 18px;
    }

    .hc-desc {
        font-size: 14px;
    }

    /* how end */

    /* footer start */
    footer {
        margin-top: 100px;
    }

    .ft-left .logo img {
        width: 60px;
    }

    .ft-left {
        gap: 24px;
    }

    form {
        gap: 8px;
    }

    form input {
        width: 231px;
        padding: 14px 16px;
        font-size: 14px;
    }

    form button {
        width: 116px;
        font-size: 14px;
    }

    .ft-right {
        gap: 40px;
        padding: 60px 0;
        padding-left: 60px;
    }

    nav {
        gap: 24px;
        width: 180px;
    }

    .nav-title {
        font-size: 18px;
    }

    .nav-a {
        gap: 14x;
    }

    .nav-a a {
        font-size: 16px;
    }

    .fbc-left {
        gap: 20px;
    }

    .fbcl-line {
        height: 18px;
    }

    .fbc-left a {
        font-size: 14px;
    }

    .fbc-center {
        gap: 16px;
    }

    .fbc-center a {
        width: 36px;
        height: 36px;
    }

    .fbc-center img {
        width: 16px;
    }

    .fbc-right {
        font-size: 14px;
    }

    /* footer end */
}

@media (max-width: 391px) {
    .container {
        width: 358px;
    }

    /* Header */
    .h-left a:not(.burger),
    .sup-btn {
        display: none;
    }

    .logo a {
        justify-content: start;
        margin: 0;
    }

    .header-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
    }

    .h-right {
        margin-left: auto;
        display: flex;
        gap: 10px;
    }

    .logo img {
        width: 40px;
    }

    .logo {
        margin-right: auto;
    }

    .cart-btn {
        width: 40px;
        height: 40px;
    }

    .burger {
        display: block;
    }

    /* banner start */
    .banner {
        margin-top: 40px;
        gap: 40px;
    }

    .bl-title {
        flex-direction: column-reverse;
    }

    .blt-left {
        font-size: 28px;
        gap: 40px;
    }

    .blt-right {
        font-size: 14px;
    }

    .bl-top {
        gap: 10px;
    }

    .bl-desc {
        font-size: 14px;
    }

    .blt-btns {
        margin-top: 24px;
        gap: 8px;
    }

    .shop-now-btn {
        font-size: 14px;
        width: 174px;
        height: 49px;
    }

    .contact-us-btn {
        font-size: 14px;
        width: 174px;
        height: 49px;
    }

    .banner {
        flex-direction: column;
    }

    .b-right img {
        width: 100%;
        height: auto;
    }

    .bl-bottom {
        padding: 10px;
        gap: 10px;
    }

    .blb-card {
        width: 160px;
        padding: 20px;
        gap: 4px;
    }

    .blbc-title {
        font-size: 20px;
    }

    .blbc-desc {
        font-size: 14px;
    }

    /* banner end */

    /* Catalog */
    .catalog-card:not(:nth-child(3)) {
        display: none;
    }

    .catalog {
        margin-top: 80px;
    }

    .ct-text {
        gap: 16px;
    }

    .catalog-top {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }

    .blt-left {
        width: 100%;
    }

    .catalog-cards {
        justify-content: center;
    }

    .catalog-filter {
        display: none;
    }

    .catalog-slider {
        display: none;
    }

    .scroller {
        display: flex;
        width: 100%;
        margin-top: 40px;
    }

    .catalog-card {
        width: 100%;
    }

    .cc-img img {
        width: 358px;
    }

    .cc-text {
        font-size: 16px;
    }

    /* About */

    .about {
        margin-top: 80px;
        gap: 40px;
    }

    .about-cards {
        padding: 20px;
    }

    .about-card {
        padding: 20px;
        gap: 16px;
    }

    .ac-top {
        gap: 8px;
    }

    .ac-top p {
        font-size: 16px;
    }

    .act-img {
        width: 44px;
        height: 44px;
    }

    .about-card:not(:nth-child(-n+2)):not(.view-all) {
        display: none;
    }

    .about .bl-desc {
        max-width: 357px;
        font-size: 14px;
    }

    .view-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .view-all-btn {
        padding: 10px 20px;
        background-color: #FFD400;
        border-radius: 20px;
        color: #262626;
        font-size: 16px;
        text-decoration: none;
    }

    /* Reviews */
    .review-card:not(:first-child) {
        display: none;
    }

    .reviews {
        margin-top: 80px;
    }

    .reviews-cards-block {
        justify-content: center;
    }

    .reviews-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .reviews-cards .non-active,
    .reviews-cards .active {
        display: flex;
        position: static;
        margin-top: 20px;
    }

    .reviews-cards-block {
        width: 358px;
        padding: 20px;
    }

    .non-active,
    .active {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .non-active img,
    .active img {
        width: 24px;
    }

    
    .navigation-buttons {
        display: flex;
        gap: 10px;
    }

    .review-card {
        padding: 30px;
        gap: 20px;
        width: 100%;
        width: 318px;
    }

    .review-top {
        gap: 30px;
    }

    .ra-img img {
        width: 50px;
    }

    .ra-name {
        font-size: 16px;
        width: 128px;
    }

    .star {
        width: 16px;
    }

    .review-text {
        font-size: 14px;
    }

    .review-kavichka img {
        width: 40px;
    }

    /* FAQ */
    .faq {
        margin-top: 80px;
    }

    .details-column:not(:first-child) {
        display: none;
    }

    .details-column {
        width: 100%;
    }

    details {
        width: 100%;
    }

    /* how */
    .how {
        margin-top: 80px;
    }

    .how-block {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .how-card {
        width: 337px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hc-text {
        width: 215px;
    }

    /* Footer */
    footer {
        margin-top: 80px;
    }

    .ft-right {
        display: none;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ft-left {
        padding-right: 0;
        border-right: none;
    }

    .social-links {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .footer-bottom-content {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .fbc-left {
        flex-direction: column;
        gap: 10px;
    }

    .fbcl-line {
        display: none;
    }

}